* {
	box-sizing: border-box;
}

body {

	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: 'Montserrat', sans-serif;
	
	background-image: url('https://images.unsplash.com/photo-1587183081708-3c5b6e9b94c3?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;

}
.wrapper {

	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.card {
	width: 420px;
	height: 640px;
	margin: 1em;
	perspective: 1500px;
	
	.content {
		position: relative;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
	}
}

.more {
	display: none;

	&:checked ~ .content {
		transform: rotateY(180deg);
	}
}

.front,
.back {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	border-radius: 6px;

	.inner {
		height: 100%;
		display: grid;
		padding: 1.0em;
		transform: translateZ(80px) scale(0.94);
	}
}

.front {
	background-color: #E4CE4C;
	background-size: cover;
	background-position: center center;
	&:after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: block;
		border-radius: 6px;
		backface-visibility: hidden;
		border: 4px solid black; 
		
		
	}
	.inner {
		grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
		justify-items: center;
	}

	h2 {
		grid-row: 2;
		margin-bottom: 0.3em;
		text-transform: uppercase;
		letter-spacing: 3px;
		color: #fff;
		font-weight: 500;
		text-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
	}

}

.back {
	transform: rotateY(180deg);
	background-color: #070708;
	border: 2px solid rgb(240, 240, 240);
	padding-bottom: 20px;
	.inner {
		grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
		grid-template-columns: repeat(2, auto);
		grid-column-gap: 0.8em;
		justify-items: center;
	}

	.info {
		position: relative;
		display: flex;
		align-items: center;
		color: #fff;
		grid-row: 3;
		&:not(:first-of-type):before {
			content: '';
			position: absolute;
			left: -4em;
			height: 18px;
			width: 1px;
			background-color: #ccc;
		}
		span {
			font-size: 2em;
			font-weight: 700;
		}

		.icon {
			margin-left: 0.3em;
			span {
				display: block;
				margin-top: -0.25em;
				font-size: 0.8em;
				font-weight: 600;
				white-space: nowrap;
			}
		}
	}

	.description {
		grid-row: 5;
		grid-column: 1/-1;
		font-size: 0.86em;
		border-radius: 5px;
		font-weight: 600;
		line-height: 1.4em;
		overflow: auto;
		color: #fff;
		padding-right: 10px;
	}

	.product {
		grid-column: 1/-1;
		font-weight: 600;
		color: #fff;
		grid-row: 1;
		font-size: 0.86em;
	}

	.location {
		grid-column: 1/3;
		justify-self: left;
	}

	.button {
		grid-column: 1/-1;
		grid-row: 0;
		justify-self: center;
		
		
	}
	
}

.button {
	grid-row: -3;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 800;
	cursor: pointer;
	display: block;
	padding: 1 1em;
	height: 3em;
	line-height: 2.4em;
	min-width: 3em;
	background-color: #E4CE4C;
	border: solid 4px #fff;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	left: 50%;
	backface-visibility: hidden;
	transition: 0.3s ease-in-out;
	text-shadow: 0 0 6px rgba(0, 0, 0, 1);

	&:hover {
		background-color: #4C6BE4;
		box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
		text-shadow: none;
	}

	&.return {
		line-height: 2.4em;
		text-shadow: 0 0 6px rgba(0, 0, 0, 1);
		&:hover {
			color: #fff;
			box-shadow: none;
		}
	}
}

