* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}
body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background: #030303;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  
}
.background {
  background-image: url("img/bg.png");
  background-position: top center;    
  background-size: cover;              
  background-repeat: no-repeat;        
  
  width: 100%;
  min-height: 100%;                    
  
  position: relative;
  z-index: 1;
  box-shadow: 0 50px 50px black;
}

h1 {

  font-family: 'Helvetica';
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 5rem;
  color: white;

}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

}
.layer {
  z-index: 70;
}
.layer-1 {
 z-index: 80;
}
.layer-2 {
  position: absolute;
  z-index: 200;
  will-change: transform;
  transform: translateZ(0);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;      
  justify-content: flex-start;
  text-align: center;
  width: 100%;
  padding: 2% 5%;            
  box-sizing: border-box;
}



.text {
  display: flex;
  flex-direction: column;
  align-items: center;    
  text-align: center;    
  padding: 2rem;          
}

.text img {
  width: 80%;
  max-width: 400px;
  height: auto;
  margin-bottom: 1.5rem;
}


.lyrics p {
  margin-bottom: 1.5rem; 
  line-height: 1.5;
}

.flower1 {
  width: 30%;
  position: absolute;
  top: -200px;
  transform: rotate(145deg);
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 1));
}

.flower2 {
  width: 30%;
  position: absolute;
  top: -200px;
  right: 0px;
  transform: rotate(-160deg);
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 1));
}

.flower3 {
  width: 30%;
  position: absolute;
  bottom: -200px;
  right: 0px;
  transform: rotate(-50deg);
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 1));
}

.flower4 {
  width: 30%;
  position: absolute;
  bottom: -200px;
  left: 0px;
  transform: rotate(50deg);
  filter: drop-shadow(0 15px 25px rgba(0, 0, 0, 1));
}

.coverart {
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}


.title {
  width: 50%;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.tompetty {
  width: 40%;
  position: absolute;
  top: 40%;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
}
.gard {
  width: 50%;
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 480px) {
  .tompetty {
    bottom: 0px;
    width: 100%;
  }

  .gard {
    width: 90%;
    max-width: 250px;
    bottom: -5%;
  }

  .flower1 {
    width: 50%;
    position: absolute;
    top: -10%;
    left: 0px;

  }
  .flower2 {
    width: 50%;
    position: absolute;
    top: -10%;
    right: 0px;
  }
  .flower3{
    width: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
  .flower4 {
    width: 50%;
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
}
