name: Publish multiple folders to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy-folders:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Deploy all subfolders
      run: |
        for folder in */ ; do
          folder_name=$(basename "$folder")
          echo "Deploying $folder_name..."
          npx gh-pages -d "$folder" -b CSS-3D-clickable-flip-cards-main-pages -f "$folder_name"
        done

    - name: Check if folder changed
      id: changes
      run: |
        echo "CHANGED=$(git diff --name-only ${{ github.sha }} ${{ github.sha }}~1 | grep -E '^${{ matrix.folder }}/' || true)" >> $GITHUB_ENV

    - name: Deploy if changed
      if: env.CHANGED != ''
      uses: peaceiris/actions-gh-pages@v4

      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./${{ matrix.folder }}
        publish_branch: publish-pages
