name: Publish multiple folders to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Deploy CSS-3D-clickable-flip-cards-main
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./CSS-3D-clickable-flip-cards-main
        publish_branch: publish-pages
        destination_dir: CSS-3D-clickable-flip-cards-main

    - name: Deploy Parallax-scrolling
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./Parallax-scrolling
        publish_branch: publish-pages
        destination_dir: Parallax-scrolling
