name: Publish multiple folders to GitHub Pages

on:
  push:
    branches:
      - main

jobs:
  deploy-folders:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        folder: [CSS-3D-clickable-flip-cards-main, Parallax-scrolling]  # list of folders

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Check if folder changed
      id: changes
      run: |
        echo "CHANGED=$(git diff --name-only ${{ github.sha }} ${{ github.sha }}~1 | grep -E '^${{ matrix.folder }}/' || true)" >> $GITHUB_ENV

    - name: Deploy if changed
      if: env.CHANGED != ''
      uses: peaceiris/actions-gh-pages@v6
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./${{ matrix.folder }}
        publish_branch: publish-pages
